* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color:black;
  background-color: white;
}


main {
  margin: 0;
  font-family: system-ui, sans-serif;
  color:black;
  background-color: white;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
    nav {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      background-color: #1E3A8A;
      border: 2px solid #000;
      border-radius: 5px;
    }

    nav a {
      text-decoration: none;
      color: #ffffff;
      padding: 8px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
      border: 1px solid transparent;
    }

    nav a:hover {
      background-color: #F97316;
      color: #1E3A8A;
      border-color: #F97316;
      transform: scale(1.05);
    }

    nav a[aria-current="page"] {
      background-color: #d4d4d4;
      color: #F97316;
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }

    .flex-item {
      background-color: #fff;
      border: 2px solid #ff9800;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      width: 200px;
    }

    .flex-item:hover {
      background-color: #ff9800;
      color: white;

    }

    .flex-item img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    header {
      text-align: center;
      background-color: #ff9800;
      color: white;
      padding: 30px 10px;
      border-bottom: 4px solid #e67e00;
    }

    main {
      max-width: 800px;
      margin: 20px auto;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    a {
      color: #ff9800;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }